<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Chart Class</title>
    <!--    <link th:href="@{/css/output.css}" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body >
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

<h1>Add chart class</h1>

<form th:action="@{/addChartClass}" th:object="${registerChartClassRequest}" method="post" class="max-w-sm mx-auto">
    <div class="mb-5">
    <label for="className" class="block mb-2.5 text-sm font-medium text-heading">Class name: </label>
    <input id="className" type="text" th:field="*{className}" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Enter Class name" required />
    </div>
    <div class="mb-5">
    <label for="classCode" class="block mb-2.5 text-sm font-medium text-heading">Class name: </label>
    <input id="classCode" type="text" th:field="*{classCode}" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Enter Class code" required />
    </div>
    <div class="mb-5">
    <label for="chartClassType" class="block mb-2.5 text-sm font-medium text-heading">Class name: </label>
        <select id="chartClassType" th:field="*{chartClassType}">
            <option th:each="classType : ${classTypes.entrySet()}"
                    th:value="${classType.key}"
                    th:text="${classType.value}"></option>
        </select>
<!--    <input id="chartClassType" type="text" th:field="*{chartClassType}" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Enter Class type" required />-->
    </div>
    <div class="mb-5">
    <label for="userName" class="block mb-2.5 text-sm font-medium text-heading">Class name: </label>
    <input id="userName" type="text" th:field="*{userName}" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Enter user name" required />
    </div>
    <button type="submit" class="text-black bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Submit</button>
</form>


<a th:href="@{/chartClasses}">Back to List</a>

</body>
</html>