<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Chart Class</title>
<!--    <link th:href="@{/css/output.css}" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body >
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>


<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
        <tr>
            <a th:href="@{/addChartClass}">Add New Chart Class</a>
        </tr>
        <tr>
            <th scope="col" class="px-6 py-3 font-bold">
                Class name
            </th>
            <th scope="col" class="px-6 py-3 font-bold">
               Class code
            </th>
            <th scope="col" class="px-6 py-3 font-bold">
               Class type
            </th>
            <th scope="col" class="px-6 py-3 font-bold">
                Inactive
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chartClass : ${chartClasses}">
            <td class="px-6 py-4" th:text="${chartClass.className}"></td>
            <td class="px-6 py-4" th:text="${chartClass.classCode}"></td>
            <td class="px-6 py-4" th:text="${chartClass.classType}"></td>
            <td class="px-6 py-4" th:text="${chartClass.inactive}"></td>
            <td>
                <a class="px-2" th:href="@{|/edit/${chartClass.oid}|}">Edit</a>
                <a class="px-2" th:href="@{|/delete/${chartClass.oid}|}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>