<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
  <meta charset="UTF-8">
  <title>Chart Type</title>
  <!--    <link th:href="@{/css/output.css}" rel="stylesheet">-->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body >
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
<div class="mb-5">
  <a class="px-2" th:href="@{|/chart-class|}">Chart Class</a>
  <a class="px-2" th:href="@{|chart-type|}">Chart Type</a>
</div>
</body>
</html>